body{
    background-color: lightgrey;
    font-family: sans-serif;
  }
  #img-div{
    color: black;
    background-color: white;
    padding: 5px;
    margin: 0;
  }
  .image{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  #title{
    position: relative;
    text-align: center;
    margin: 0;
    max-width: 100%;
    height: auto;
    background-color: rgb(181, 29, 29)
  }
  @supports (position: sticky) {
    #title{
      position: sticky;
      top: 0;
    }
  }
  .fig{
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  .text{
    text-align: center;
  }
  .pageinfo{
    text-align: center;
    margin: 40px;
  }
  .list{
    line-height: 1.9;
    max-width: 545px;
    text-align: left;
    margin: 0px auto 50px auto;
  }
  .lists{
    max-width: 545px;
    font-style: italic;
    text-align: left;
    margin: 0px auto 50px auto;
  }
  .final{
    text-align: left;
    max-width: 545px;
    margin: 0px auto 50px auto;
  }
   
  @media (min-width: 100px) and (max-width: 768px) {
    body{
      background-color: rgb(100, 22, 22);
      color: rgb(141, 111, 111);
      font-family: tahoma;
    }
    .list{
    line-height: 1.9;
    max-width: 500px;
    text-align: left;
    margin: 0px auto 25px auto;
    }
    .fig{
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  .text{
    text-align: center;
  }
  .pageinfo{
    text-align: center;
    margin: 20px;
    font-size: 20px;
  }
    .lists{
    max-width: 500px;
    font-style: italic;
    text-align: left;
    margin: 0px auto 25px auto;
  }
    .final{
    text-align: left;
    max-width: 500px;
      margin: 0px auto 25px auto;
    }
  
      #title{
        background-color: rgb(208, 36, 36);
        color: white;
      }
  }